.about-page {
  padding: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.about-color {
  color: #4CCADB;
}

.about-page-banner {
  width: 500px;
}

.about-team {
  padding-left: 0px;

}

.right-about {
  padding-left: 50px;
}
.about-team li {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

.about-team-title {
  font-family: $franklin-book;
  letter-spacing: 4px;
  color: $black !important;
  font-size: 24px;
}

.about-title {
  margin-top: 0px;
  font-family: $headers-font;
  letter-spacing: 4px;
  color: $dark-blue;

}

@media(max-width: 500px) {
  .left-about {
    padding: 0px;
  }
}
