.about-page {
  padding: 20px;
}

.about-color {
  color: #4CCADB;
}

.about-page-banner {
  width: 500px;
}

.about-team {
  padding-left: 0px;

}

.about-team li {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

.about-title {
  margin-top: 0px;
}
