#contact {
  margin: 100px;
}

.btn-color {
  background-color: $light-blue;
  border: 0.2px solid $dark-blue;
  &:hover {
    background-color: $dark-blue;
  }

}

.link {
  color: $light-blue;
  &:hover {
    color: $dark-blue;
  }
}

.contact-title {
  margin-bottom: 50px;
  margin-top: 0px;
}

@media(max-width: 720px) {
  #contact {
    margin: 20px;
  }
}
