#contact {
  margin: 100px;
}

.btn-color {
  background-color: #4CCADB;
  border: 0.5px solid #10a5b9;
  &:hover {
    background-color: #10a5b9;
  }

}

.link {
  color: #4CCADB;
  &:hover {
    color: #10a5b9;
  }
}

.contact-title {
  margin-bottom: 50px;
  margin-top: 0px;
}

@media(max-width: 720px) {
  #contact {
    margin: 20px;
  }
}
