#contact {
  margin: 100px;
  height: calc(100vh - 70px);
}

.btn-color {
  font-family: $headers-font;
  letter-spacing: 3px;
  background-color: $dark-blue;
  border: 0.2px solid #007e8c;
  &:hover {
    background-color: $light-blue;
  }

}

.link {
  color: $dark-blue;
  &:hover {
    color: $light-blue;
  }
}

.contact-form-labels {
  color: $dark-blue;
  letter-spacing: 4px;
  font-family: $headers-font;
}

.contact-title {
  margin-bottom: 50px;
  margin-top: 0px;
  font-family: $headers-font;
  letter-spacing: 4px;
  color: $dark-blue;
}

@media(max-width: 720px) {
  #contact {
    margin: 20px;
  }
}
