.login-height {
  height: calc(100vh - 70px);
}

.login-form {
  margin-top: 100px;
}
.signup-login-form {
  margin-bottom: 70px;
}

@media(max-width: 720px) {
  .login-form {
    padding: 20px;
  }
}

.login-devise-inputs {
  font-family: $franklin-book;
  color: $black;
  letter-spacing: 4px;
  margin-top: 15px;
}

.button-login {
  background-color: $dark-blue;
  color: white;
  border: 1px #007e8c;
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-family: $headers-font;
  &:hover {
    background-color: $light-blue;
    color: white;
  }
}

.devise-links a {
  color: $dark-blue;
  &:hover {
    opacity: 0.8;
  }
}

.login-title-devise {
  font-family: $headers-font;
  color: $dark-blue;
  letter-spacing: 4px;
  font-size: 45px;
}
.forgot-password-btn {
  margin-top: 20px;
}
.forgotten-password-container {
  margin-top: 100px;
}
