.emergency a {
  text-decoration: none !important;
  color: #333333;
}

.emergency-description {
  padding-top: 50px;
  padding-bottom: 50px;
}

.emergency-type a {
  text-decoration: none;
}

.emergency-type p {
  color: #333333;
  font-weight: lighter;
}

.emergency-type h4 {
  color: #4CCADB;
}

.emergency-B {
  padding-top: 10px;
}

.emergency-a {
  padding-top: 10px;
}

.emergency-a h5 {
  padding-top: 30px;
}

.emergency-a li {
  font-weight: lighter;
}
.emergency-B h5 {
  padding-top: 30px;
}

.emergency-B li {
  font-weight: lighter;
}
.emergency-B a {
  color: #333333;
  text-decoration: none;
  :hover {
    color: #4CCADB;
  }
}

.last-paragraph-emergency-b {
  padding-bottom: 30px;
}

.here {
  color: #4CCADB !important;
}

.map-emergency {
  padding-top: 30px;
}
.emergency-page {
  height: calc(100vh - 70px);
}
