.photos-box {
  padding-top: 40px;
  padding-bottom: 40px;
}
.btn-box {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.gallery-card {
  height: 300px;
  margin: 10px;
  &:hover {
    transform: scale(1.02);
  }
  img {
    height: 100%;
  }


}

#addPhotoBtn {
}

.edit-delete-photo {
  display: flex;
  position: absolute;
  left: 35px;
  bottom: 13px;


  a {
    color: white;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}
