.big-logo-home {
  height: 350px;
  margin: 30px 50px;

}
.home-small-container {
  width: 600px;
  margin: auto;
}

.active-nav {
  font-weight: bolder;
}

.banner {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-description{
  justify-content: center;
}

#title-homepage {
  color: #4CCADB;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 50px;
}

.search-homepage {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;

}

.search-button{
  border-radius: 2px;
  background-color: #4CCADB;
  border: 1px solid #00C1DB;
}

.input-homepage {
  width: 90% !important;
}

.search-button {
  height: 39px;
}

.homepage-titles{
  font-size: 30px;
  color: #4CCADB;
  margin-bottom: 70px;
}
.nhs {
  background-image: url(national_health_service.jpg);
}

.psg {
  background-image: url(peer_support_groups.png);
}

.self-help {
  background-image: url(self_help_and_apps.png);
}

.helplines {
  background-image: url(helplines.png);
}

.students {
  background-image: url(students.png);
}

.services {
  background-image: url(support_services.png);
}

.emergency-homepage {
  background-image: url(emergency_icon.png.jpeg);
}

.medical {
  background-image: url(private_medical_services.png);
}

.category-photo {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}


.category-card {
  width: 200px;
  height: 200px;
}

.category {
  margin-bottom: 20px;
}
.category-title {
  font-size: 18px;

}

.empty {
  height: 300px;
}

@media(max-width: 500px) {
  .big-logo-home {
    height: 220px;
    margin: 30px 50px;
  }
  #title-homepage {
    font-size: 30px;
  }
  .banner {
    width: 400px;
  }
  .homepage-description p {
    font-size: 15px;
  }
  .search-homepage {
    width: 300px !important;
  }
}
