.big-logo-home {
  height: 550px;
  margin: 0 40px;
  margin-top: 15px;
}
.home-small-container {
  width: 600px;
  margin: auto;
}

.active-nav {
  color: white;
}

.banner {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-description {
  justify-content: center;
  margin-top: -15px;
}

#title-homepage {

  font-family: $headers-font;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-top: -20px;
}


.search-homepage {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;

}

.search-button{
  border-radius: 2px;
  background-color: #4CCADB;
  border: 1px solid #00C1DB;
}
.home-index-search {
  margin-top: 22px;
}

.input-homepage {
  width: 90% !important;
}

.search-button {
  height: 39px;
}
#home-page-search-bar {
  width: 450px;
}

.homepage-titles {
  font-family: $headers-font;
  color: $dark-blue;
  letter-spacing: 4px;
  font-size: 30px;
}
#browse-by-title {
  margin: 80px 0px;

}

.category-photo {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}


.category-card {
  width: 200px;
  height: 200px;
}

.category {
  margin-bottom: 20px;
}
.category-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.empty {
  height: 300px;
}

@media(max-width: 500px) {
  .big-logo-home {
    height: 220px;
    margin: 30px 50px;
  }
  #title-homepage {
    font-size: 30px;
  }
  .banner {
    width: 400px;
  }
  .homepage-description p {
    font-size: 15px;
  }
  .search-homepage {
    width: 300px !important;
  }
}
