.index-search {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.index-button {
  width: 50px !important;
  button {
    width: 50px;
  }
}

@media(max-width: 500px) {
  .search-button {
    width: 30px;
  }
}

#index-page-search {
  margin-top: 10px;
}


.algolia-credit {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}

.algolia-logo {
  width: 47px;
  height: 11px;
  background-position: left;
  background-size: cover;
  margin: 0 5px;

}

.sponsored-by {
  font-size: 10px;
}
