.icon-showpage {
  margin: 0px 15px
}

.showpage-container {
  min-height: calc(100vh -70px);
}

.photo-showpage {
  width: 400px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 25px;
}
.spacing-omhn-tip {
  // margin-top: 50px;
}
.padded-row {
  padding-top: 20px;
}
.justifying-text {
  text-align: justify;
  text-justify: inter-word;
}
.resource-show-map {
  margin-bottom: 60px;
}
.resource-details {
  display: flex;
  margin: 40px 0px;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.btn-positioning {
  // position: absolute;
  // left: 240px;
  // top: 135px;
  background-color: $light-blue;
  border: 0.2px solid $dark-blue;
  &:hover {
    background-color: $dark-blue;
  }
}

.details-description {
  flex-grow: 1;
}
.event-map-showpage {
  margin-top: 60px;
  margin-bottom: 60px;
}

.showpage-title {
  margin-bottom: 25px;
  color: $dark-blue;
  letter-spacing: 4px;
}

.main-title-showpage {
  font-size: 30px;
}

.show-page-content {
  font-family: $body-font;
  font-size: 16px;
}
.resource-details li {
    font-size: 16px;
}
.resource-details-second li {
    font-size: 16px;
}
.website a {
  text-decoration: none;
}

.address {

}

.contact {

}

// .content-space {
//   margin-bottom: 50px;
// }

// .bold {
//   font-weight: bold;
//   font-size: 25px;
//   margin-bottom: 30px;
// }
@media(max-width: 720px) {
  .text-showpage {
    padding: 30px 50px;
  }
}
.show-page-title {
  font-family: $franklin-book;
  letter-spacing: 4px;
  color: rgb(34, 42, 53) !important;
}
.show-page-title-sub {
  font-size: 17px;

}
.show-page-bigger-title {
  font-size: 20px;
  margin-bottom: 5px;

  // margin-top: 25px;
}
.show-page-bigger-title:first-child {
  // margin-top: -35px;
}
.show-page-bigger-title:last-child {
  // margin-top: 10px;
}
.show-page-section {
  margin-bottom: 25px;
}
.show-page-section:first-child {
  margin-top: -50px;
}
.show-page-blank-div {
  height: 60px;
}
