<%= link_to event_path(event) do %>
  <div class="resource-card">
    <div class="photo-resource-card" style="background-image: url('<%= cl_image_path event.photo %>')">
    </div>
    <div class="resource-card-details">
      <h2 class="title-resource-card "><%= event.name %></h2>
      <p class="content-resource-card "><%= event.card_description %></p>
    </div>
  </div>
<% end %>
