<div class="footer">

  <div class="footer-links">
    <a href="https://www.facebook.com/oxfordmentalhealthnetwork/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/OMHNetwork"><i class="fab fa-twitter"></i></a>
  </div>

  <div class="acknowledgements">
    <span class="footer-text"> Supported by</span><i><%= cl_image_tag "MCT_logo_small_l6vswe" %></i><i><%= cl_image_tag "University_of_Oxford-logo-2ACBB1AA61-seeklogo.com_y3pinw" %></i>
  </div>

  <%= link_to ("https://www.omhn.org/contact") do %>
  <div class="footer-logo">
    <i><%= cl_image_tag "logo_final_omhn_epuxv1" %></i><span class="footer-text"> © 2018 OMHN, INC.</span>
  </div>
  <% end %>

</div>

