<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/oxfordmentalhealthnetwork/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/OMHNetwork"><i class="fa fa-twitter"></i></a>
  </div>
  <%= link_to ("https://www.omhn.org/contact") do %>
  <div class="footer-logo">
    <i><%= cl_image_tag "logo_final_omhn_epuxv1" %></i><span class="footer-text"> © 2018 OMHN, INC.</span>
  <% end %>
  </div>
  </div>
  <div class="footer-links">

</div>
