<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/oxfordmentalhealthnetwork/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a>
  </div>
  <%= link_to ("https://www.omhn.org/contact") do %>
  <div class="footer-logo">
    <i><%= cl_image_tag "logo_final_omhn_epuxv1" %></i> © 2018 OMHN, Inc.
  <% end %>
  </div>
  </div>
  <div class="footer-links">

</div>
