<div class="event-square-card">
  <%= link_to event_path(event) do %>
    <div>
      <% url = event.photo.nil? ? 'restore-logo.jpg' : event.photo %>
      <div class="photo-square-card" style="background-image: url('<%= cl_image_path = url %>')">
      </div>
      <div >
        <h3 class="text-center title-square-card"><%= event.name %></h3>
        <h6 class="text-center time-square-card"><%= event.date.strftime("%A, %b %d,%l:%M %p") %></h6>
      </div>
    </div>
  <% end %>
</div>
