
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 left-index">
      <div>
        <div id="list">
          <% if @events.empty? %>
            <p class="no-events text-center">Sorry, your search returned no results. Try using words that relate to an illness, service or location.</p>
          <% else %>
            <% @events.each do |event| %>
              <%= render 'events/event_card', event: event %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 right-index">
      <div id="map" style="width: 100%; height: calc(100vh - 70px);" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <%= javascript_pack_tag 'map' %>
<% end %>
