<div class="container about-page">
  <h1 class="text-center about-color">Oxford Mental Health Support Network</h1>

  <h3 class="text-center">We're here to help you find the mental health resources you need.</h3>

  <p class="text-center"> The OMHSN Committee includes Michael Leong, JJ Huang, Dhanya Nair, Hamish Hall, Davide Massimo, Tenika Blake, Alex Amari, Kathryn Cole, Charlie McAuley, Liliane Momeni and TJ Jordan!</p>

  <p class="text-center"> Contact us anytime at <strong>oxfordmentalhealth@gmail.com </strong></p>
</div>



