<div class="container about-page">
  <h1>Oxford Mental Health Support Network</h1>

  <h3>We are here to help you find the mental health resources you need.</h3>

  <p> The OMHSN Committee includes Michael Leong, JJ Huang, Dhanya Nair, Hamish Hall, Davide Massimo, Tenika Blake, Alex Amari, Kathryn Cole, Charlie McAuley, Liliane Momeni and TJ Jordan!</p>

  <p> Contact us anytime at oxfordmentalhealth@gmail.com </p>
</div>



