<div class="container about-page">
  <div class="row">
    <div class="col-xs-12 col-md-6 left-about">
      <div>
        <%= cl_image_tag "about_page_txhlem", class: 'about-page-banner' %>
      </div>

    </div>
    <div class="col-xs-12 col-md-6 ">
      <div class="right-about">
        <h3 class="about-title"> ABOUT </h3>
        <p>The Oxford Mental Health Network (OMHN) is a not-for-profit organisation founded in October 2016 at the University of Oxford. We are dedicated to connecting the people of Oxfordshire to the mental health resources that they need through awareness campaigns, social media and our website. Whether you are an individual who wants to find a local therapy centre, or a charity who need a venue for an event, you can ask us for help—we are Oxfordshire's 'mental health search engine'.</p>

        <p> We are funded solely through private donations. If you would like to donate to help us to continue our work, please use the contact page to obtain our bank details.</p>

        <p> Our team is student-led, but we welcome members of the public on our committee. If you are interested in joining the team in any capacity, please contact us by email:  <em> info@omhn.org </em>
        </p>
        <h3 class="about-team-title"> TEAM </h3>
        <ul class="about-team">
          <li><strong>TJ Jordan,</strong> Director</li>
          <li><strong>Dhanya Nair,</strong> Assistant Director</li>
          <li><strong>Hamish Hall,</strong> Head of Web Development</li>
          <li><strong>Alex Amari,</strong> Website Designer</li>
          <li><strong>Emma Line,</strong> Events Director</li>
          <li><strong>Davide Massimo,</strong> Treasurer</li>
          <li><strong>Alex Fuentes,</strong> Secretary, Social Media Manager</li>
          <li><strong>Liliane Momeni,</strong> Lead Technical Consultant</li>

        </ul>
        <h3 class="about-team-title"> FORMER TEAM MEMBERS </h3>
        <ul class="about-team">
          <li><strong>Kathryn Cole,</strong> Co-Director</li>
          <li><strong>Michael Leong,</strong> Events Director</li>
          <li><strong>JJ Huang,</strong> Assistant Events Director</li>
          <li><strong>Charlie McAuley,</strong> Social Media Manager</li>
          <li><strong>Katie Broke,</strong> Designer</li>
        </ul>
      </div>

    </div>
  </div>
</div>



