<div class="container about-page">
  <div class="row">
    <div class="col-xs-12 col-md-6 left-about">
      <div>
        <%= image_tag "about_page.jpeg", class: 'about-page-banner' %>
      </div>

    </div>
    <div class="col-xs-12 col-md-6 ">
      <div class="right-about">
        <h3 class="about-title"> ABOUT </h3>
        <p>The Oxford Mental Health Support Network (OMHSN) is a charitable organisation founded in October 2016 at the University of Oxford. We are dedicated to connecting the people of Oxfordshire to the mental health resources that they need through awareness campaigns, events and our website. Whether you are an individual who wants to find a local support group, or a charity who need a venue for an event, you can ask us for help—we are Oxfordshire's 'mental health search engine'.</p>

        <p> We are funded solely through private donations. If you would like to donate to help us to continue our work, please use the contact page to obtain our bank details.</p>

        <p> Our team is student-led, but we welcome members of the public on our committee. If you are interested in joining the team in any capacity, please contact us by email: <em> oxfordmentalhealth@gmail.com </em>
        </p>
        <h3 class="about-team-title"> TEAM </h3>
        <ul class="about-team">
          <li><strong>TJ Jordan,</strong> Co-Chair</li>
          <li><strong>Kathryn Cole,</strong> Co-Chair</li>
          <li><strong>Dhanya Nair,</strong> Secretary/Service Liaison Officer</li>
          <li><strong>Davide Massimo,</strong> Treasurer</li>
          <li><strong>Michael Leong,</strong> Events Director</li>
          <li><strong>JJ Huang,</strong> Assistant Events Director</li>
          <li><strong>Charlie McAuley,</strong> Social Media Manager</li>
          <li><strong>Liliane Momeni,</strong> Website Developer</li>
          <li><strong>Hamish Hall,</strong> Website Developer</li>
        </ul>

      </div>

    </div>
  </div>
</div>



