<div class="container emergency-page">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 emergency-B">
    <h5><strong>Option A: If you or the person you know has been given a Crisis Line number by a medical professional, call the number</strong></h5>
    <h5><strong>Option B: If you or the person you know are under the care of a local mental health team and have a care plan that states who to contact when you/they need urgent care, follow this plan</strong></h5>
    <h5><strong>Option C: Call 111 (NHS non-emergency call service)</strong></h5>
    <ol>
      <li>Keep calm and answer the questions from the call handler.</li>
      <li>They will determine the most appropriate medical response, including whether you should go to hospital or not.</li>
    </ol>
    <h5><strong>Option D: Call a charity crisis helpline</strong></h5>
    <ol>
      <li>Click <a href="/resources/?query=Helplines" class="here">here</a> for a list of helplines available in Oxfordshire.</li>
    </ol>
    <h5><strong>Option E: Book an emergency GP appointment</strong></h5>
    <ol class="last-paragraph-emergency-b">
      <li>Call your local GP (click <a href="https://www.nhs.uk/Services/Trusts/GPs/DefaultView.aspx?id=89735" class="here">here</a> for a list of GPs in Oxfordshire).</li>
      <li>Ask for an emergency appointment concerning your mental health.</li>
      <li>Your practise should be able to offer you an appointment with the first available doctor.</li>
    </ol>

  </div>
</div>
