<div class="container emergency-page">
  <div class="row emergency-a">
    <div class="col-xs-12 col-sm-6">
      <h5><strong>Option A: Call 999</strong></h5>
      <ol>
        <li>Keep calm and answer the questions from the call handler.</li>
        <li>They will determine the most appropriate medical response.</li>
      </ol>
      <p><em>N.B. Calling 999 does not necessarily mean that an ambulance will be dispatched.</em></p>
      <h5><strong>Option B: Go to A&E</strong></h5>
      <ol>
        <li>Find your nearest hospital (for Oxford students, that's normally the John Radcliffe Hospital on the map to the right) as quickly as possible (by car or taxi).</li>
        <li>Once at A&E the team will tend to your immediate physical and mental health needs.</li>
        <li>Many hospitals now have a liaison psychiatry team (or psychological medicine service) which is designed to bridge the gap between physical and mental healthcare. If this service is not available, the A&E team will contact the local on-call mental health services, such as the crisis resolution and home treatment teams (CRHTs).</li>
      </ol>

    </div>
    <div class="col-xs-12 col-sm-6">
      <img class= "map-emergency" src="https://maps.googleapis.com/maps/api/staticmap?center=OX3+7SY&zoom=13&scale=1&size=500x500&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7COX3+7SY&key=<%=ENV['GOOGLE_API_BROWSER_KEY']%> " alt="Google Map of OX3 7SY">
    </div>
  </div>

</div>
