<div class="temp-landing">

  <div class="temp-landing-content">
    <%= image_tag"Colour.png", class: 'temp-landing-image' %>
    <p>Watch this space for our new rebranded and revamped website, with all new features! In the meantime, visit our old site with 100s of mental health resources <a href="/home">here</a>.</p>

  </div>




</div>
