<div class="marker-card text-center">
  <%= link_to resource_path(resource) do %>
    <% url = resource.photo.nil? ? 'andycat.png' : resource.photo %>
    <%= cl_image_tag url, width: 200, height:180, class: "marker-photo" %>
    <h2><%= resource.name.capitalize %></h2>
    <p><%= resource.address%></p>
  <% end %>
</div>

