<div class="marker-card text-center">
  <% url = resource.photo.nil? ? 'andycat.png' : resource.photo %>
  <%= cl_image_tag url, width: 180, height:150, class: "marker-photo" %>
  <h2><%= resource.name.capitalize %></h2>
  <p><%= resource.address%></p>
</div>
