<div class="container">
  <div class="photos-box">
    <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-xs-12 cl-sm-6 col-md-4">
            <a href=<%= photo.photo.url %> data-lightbox="gallery" data-title="<%= photo.description %>">
              <div class="gallery-card" style="background-image: url('<%= cl_image_path photo.photo, crop: :fill %>')">
              </div>
            </a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="btn-box">
    <button type="button" class="btn btn-info btn-lg" id="addPhotoBtn" data-toggle="modal" data-target="#galleryModal">Add a Photo</button>
  </div>

</div>

<%= render "shared/upload_photo_modal", photo: @photo %>
