.footer {
  background: #2C3239;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #616668;
  position: static;
  bottom: 0px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #30d9eb;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer-logo img{
  height: 60px;

}
.footer-logo a {
  text-decoration: none;
  color: gray;
}
.footer-text {
  font-family: $headers-font;
  letter-spacing: 3px;
  color: $dark-blue;
  font-size: 16px;
}

.acknowledgements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.acknowledgements img{
  height: 75px;
  margin: 0px 20px;

}
