
.gm-style-iw > div ) {
  top: 9px;
  position: absolute;
  left: 15px;
  width: 273px;
}

.marker-photo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 180px;
}

