
.gm-style > div > div:nth-child(3) > div:nth-child(4) > div > div > div:nth-child(2) {
  border-radius: 10px !important;
}

.marker-photo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 180px;
}

