.marker-card {
  // height: 50px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  width: 250px;

  a {
    text-decoration: none;
    color: $black;
  }
  h2 {
  font-weight: bold;
  font-family: $headers-font;
  letter-spacing: 3px;
  color: $dark-blue;
  margin: 0px 0px;
  font-size: 20px;
  }
  p {
  font-weight: lighter;
  font-family: $body-font;
  color: $black;
  margin-bottom: 20px;
  }
}

.gm-style-iw {
  justify-content: center;
}


